<h1><%= @dish.dish_name.titleize %></h1>
<h4><%= @dish.created_at %></h4>

<h2>Składniki:</h2>

<ul>
  <% @ingredients_collection.each do |ingredient, amount| %>
    <li>
      <%= "#{ingredient}: #{amount}" %>
    </li>
  <% end %>
</ul>

<h2>Wykonanie:</h2>

<p><%= @dish.steps %></p>

<a href="/dishes/<%= @dish.id %>/edit">Zmień</a>

<form action="/dishes/<%= @dish.id %>" method="POST" id="delete">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Usuń danie">
</form>

<a href="/dishes">Wróć do listy dań</a>

 -->
